h4 {
    color: blue
}

img { 
    box-align: center;
}




ul{
    color: red
}

p{
    column-count: 2;
    font-family: 'MonteCarlo', cursive;

}

.nombre{
    width: 150px;
    height: 150px;
    background-color: red;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
}